---
layout: default
---
{%- assign _docs = site.docs | sort: 'order' -%}
{%- include header.html scrolly_nav=_docs -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _doc in _docs -%}
		{%- include section.html title=_doc.title photo=_doc.cover-photo photo-alt=_doc.cover-photo-alt auto-header=_doc.auto-header content=_doc.content -%}
	{%- endfor -%}
	<div class="color_wave"> <img src="{{ 'assets/images/color_wave.png' | relative_url }}" alt="Wave" /></div>
</div>